body {
  background-image: url("http://sumbac.fvi-grad.com/Asteroids/space.jpg");
  background-size: cover;
  overflow: hidden;
}

#ship {
  position: absolute;
  height: 100;
  top: 100;
  left: 100;
}

#asteroidGenerator {
  position: absolute;
  top: 100;
  right: 100;
}

.asteroid {
  position: absolute;
  height: 10%;
  top: 100;
  right: 100;
}

#healthCounter {
  font-family: 'VT323', monospace;
  position: absolute;
  top: 0;
  left: 20;
  color: white;
  font-weight: bolder;
  font-size: 80;
  opacity: 0.5;
  line-height: 0;
}
